<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>graph</servlet-name>
        <servlet-class>com.o4s.sarGrapher.graph</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>data</servlet-name>
        <servlet-class>com.o4s.sarGrapher.data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sshSA2CSV</servlet-name>
        <servlet-class>com.o4s.sarGrapher.sshSA2CSV</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>graph</servlet-name>
        <url-pattern>/graph</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>data</servlet-name>
        <url-pattern>/data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sshSA2CSV</servlet-name>
        <url-pattern>/sshSA2CSV</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
